### Import Modules

In [1]:
%load_ext sql

### Connect to PostgreSQL

In [2]:
%sql postgresql://postgres:example@172.26.0.2/postgres

### Read data from tables

In [3]:
%%sql postgres@172.26.0.2
SELECT id, first_name, last_name, email FROM inventory.customers;

4 rows affected.

[(1, 'Sally', 'Thomas', 'sally.thomas@acme.com'),
 (2, 'George', 'Bailey', 'gbailey@foobar.com'),
 (3, 'Edward', 'Walker', 'ed@walker.com'),
 (4, 'Jonh', 'Kretchmar', 'annek@noanswer.org')]