# Generating events to Debezium
Use this notebook to generate sql operations (insert, delete, update) on PostgreSQL database tables.

### Import Modules

In [1]:
# ipython-sql introduces a %sql (or %%sql) magic.
# Connect to a database, using SQLAlchemy URL connect strings, then issue SQL commands
# https://pypi.org/project/ipython-sql/
%load_ext sql

### Connect to PostgreSQL

In [2]:
# SQLAlchemy URL - dialect+driver://username:password@host:port/database
%sql postgresql://postgres:example@172.26.0.2/postgres

### Read data from tables

In [3]:
%%sql postgres@172.26.0.2
SELECT id, first_name, last_name, email FROM inventory.customers;

4 rows affected.

[(1, 'Sally', 'Thomas', 'sally.thomas@acme.com'),
 (2, 'George', 'Bailey', 'gbailey@foobar.com'),
 (3, 'Edward', 'Walker', 'ed@walker.com'),
 (4, 'Jonh', 'Kretchmar', 'annek@noanswer.org')]

In [4]:
### Inserting some records

In [5]:
%%sql postgres@172.26.0.2
INSERT INTO inventory.customers(id, first_name, last_name, email) VALUES
    (5, 'Glauber', 'Rocha', 'glauber.rocha@terraemtranse.movie'),
    (6, 'Hilton', 'Lacerda', 'hilton@tatuagem.movie'),
    (7, 'Fernando', 'Meireles', 'fernando.meireles@cidadededeus.movie');

3 rows affected.

[]

In [5]:
### Updating a record

In [7]:
%%sql postgres@172.26.0.2
UPDATE inventory.customers
SET email = 'george@foobar.com'
WHERE id = 2;

1 rows affected.

[]

In [ ]:
# more inserts

In [8]:
%%sql postgres@172.26.0.2
INSERT INTO inventory.customers(id, first_name, last_name, email) VALUES
    (8, 'Fernando', 'Meireles', 'meireles@cidadededeus.movie'),
    (9, 'Claudio', 'Assis', 'claudio.assis@amarelomanga.movie'),
    (10, 'Alguem', 'Ruim', 'alguem@algumfilme.movie');

3 rows affected.

[]

In [ ]:
# more updates

In [9]:
%%sql postgres@172.26.0.2
UPDATE inventory.customers
SET email = 'edward@walker.com'
WHERE id = 3;

1 rows affected.

[]

In [ ]:
# delete one riw

In [10]:
%%sql postgres@172.26.0.2
DELETE FROM inventory.customers
WHERE id = 10;

1 rows affected.

[]